<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

<div class="subnavbar" th:include="navbar :: subnavbar"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" style="margin-top:60px">
     <div class="container">
      <div class="row">
        <div class="span6">
        
          <!--  General Informations -->
          <div class="widget widget-nopad">
            <div class="widget-header">
              <i class="icon-dashboard"></i>
              <h3><span th:text="#{home.general.title}">Home</span></h3>
            </div>
           
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                	<h6 class="bigstats">
          
    <p th:text="#{home.general.intro}">Intro</p>
    
    <table style="border-collapse:separate;border-spacing:0 10px;text-transform:none">
     <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4><a class="ff4j-tooltip" th:attr="tooltip=#{home.general.uptime.comment}" >
        <span th:text="#{home.general.uptime}">Uptime</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2><i class="icon-time" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.uptime}">n/a</span></td>
     </tr>
     
 	 <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4><a class="ff4j-tooltip" th:attr="tooltip=#{home.general.featureStore.comment}" >
        <span th:text="#{home.general.featureStore}">Store</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
      	<h2><i class="icon-check" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.featureStore}">n/a</span></td>
     </tr>
     
     <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4>
        <a class="ff4j-tooltip" th:attr="tooltip=#{home.general.propertyStore.comment}" >
        <span th:text="#{home.general.propertyStore}">Properties</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-list-alt" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.propertyStore}">n/a</span></td>
     </tr>
      
     <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4>
        <a class="ff4j-tooltip" th:attr="tooltip=#{home.general.security.comment}" >
        <span th:text="#{home.general.security}">Security</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-key" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.security}">n/a</span></td>
     </tr>
     
      <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4>
        <a class="ff4j-tooltip" th:attr="tooltip=#{home.general.monitoring.comment}" >
        <span th:text="#{home.general.monitoring}">Monitoring</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-bar-chart" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.monitoring}">n/a</span></td>
     </tr>
     
       <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4>
        <a class="ff4j-tooltip" th:attr="tooltip=#{home.general.version.comment}" >
        <span th:text="#{home.general.version}">Version</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-info-sign" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.version}">n/a</span></td>
     </tr>
     
    </table>
    
	</h6>
	</div>
	</div>
	</div>
	</div>
	
	<div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-star"></i>
              <h3> Stats</h3>
            </div>
             <div class="widget-content">
                  <div id="big_stats" class="cf">
                    <div class="stat">
                    	<span class="value" style="color:#ab8b00">
                    		----<span style="font-size:14px">&nbsp;Feature(s)</span>
                    	</span>
                    	<i class="icon-th-list"></i>
                    </div>
                    <div class="stat">
                    	
                    	<span class="value" style="color:#ab8b00">
                    		--- <span style="font-size:14px">&nbsp;Group(s)</span>
                    	</span>
                    	<i class="icon-th-large"></i>
                    </div>
                    <!-- .stat -->
                    
                    <div class="stat"> 
                    	<span class="value" style="color:#ab8b00">
                    		----<span style="font-size:14px">&nbsp;Hit(s)</span>
                    	</span>
                    	<i class="icon-bar-chart"></i>
                    </div>
                    <!-- .stat -->
                     
                 
                  </div>
                </div>
                <!-- /widget-content --> 

          </div>
	
	</div> <!-- span6 -->
	
	<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-wrench"></i>
              <h3>Operations</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts">
              
              	<a data-toggle="modal" href="" class="shortcut">
              	 <i class="shortcut-icon icon-upload-alt"></i>  
           		 <span class="shortcut-label">Import XML</span>
              	</a>
              	<a data-toggle="modal" href="" class="shortcut">
              	 <i class="shortcut-icon icon-download-alt"></i>  
           		 <span class="shortcut-label">Export XML</span>
              	</a>
              	<a href="" class="shortcut" >
              	  <i class="shortcut-icon icon-file"></i>
              	  <span class="shortcut-label">AuditTrail</span>
              	</a>
              	<a href="javascript:;" class="shortcut">
              	 <i class="shortcut-icon icon-user"></i>
              	 <span class="shortcut-label">Users</span>
              	</a>
              	
              	<a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon icon-cog"></i>
                 <span class="shortcut-label">Settings</span>
                </a>
              	<a href="" class="shortcut">
              	 <i class="shortcut-icon icon-signal"></i>
              	 <span class="shortcut-label">Monitoring</span> 
              	</a>
                <a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon icon-magic"></i>
                 <span class="shortcut-label">ClearCache</span>
                </a>
                <a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon  icon-warning-sign"></i>
                 <span class="shortcut-label">Archiving</span>
                </a>
                        
                                                    
              </div>
              <!-- /shortcuts --> 
            </div>
            <!-- /widget-content --> 
          </div>
          
          </div>
          
          
	
	
	
	
	</div>
	</div>
	</div>
	
	
   </div>
  </div>
 </div>
</div>
   
</body>
</html>