<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

<div class="subnavbar" th:include="navbar :: subnavbar"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" style="margin-top:60px">
     <div class="container">
      <div class="row">
        <div class="span6">
        
          <!--  General Informations -->
          <div class="widget widget-nopad">
            <div class="widget-header">
              <i class="icon-dashboard"></i>
              <h3><span th:text="#{home.general.title}">Home</span></h3>
            </div>
           
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                	    	
	 <div class="ff4jstores">
	   
	   <div class="ff4jstore" >
        <span style="font-weight: bold;font-size:14px;color:#00ab8b">&nbsp;FeatureStore</span>
        <br/><p class="circle">
	  	<br/><img src="" th:src="@{static/img/db/db-inmemory.png}" style="width:50px" />
      	<br/><span th:text="${homebean.featureStore}">InMemory</span>
   		</p>
       </div>
       
       <div class="ff4jstore" >
        <span style="font-weight: bold;font-size:14px;color:#00ab8b">&nbsp;PropertyStore</span>
        <br/><p class="circle">
	  	<br/><img src="" th:src="@{static/img/db/db-inmemory.png}" style="width:50px" />
      	<br/><span th:text="${homebean.propertyStore}">InMemory</span>
   		</p>
       </div>
       
       <div class="ff4jstore" >
        <span style="font-weight: bold;font-size:14px;color:#00ab8b">&nbsp;EventRepository</span>
        <br/><p class="circle">
	  	<br/><img src="" th:src="@{static/img/db/db-inmemory.png}" style="width:50px" />
      	<br/><span th:text="${homebean.monitoring}">InMemory</span>
   		</p>
       </div>
       
       <div class="ff4jstore" >
        <span style="font-weight: bold;font-size:14px;color:#00ab8b">&nbsp;Authorization</span>
        <br/><p class="circle">
	  	<br/><img src="" th:src="@{static/img/db/spring-security.png}" style="width:50px" />
      	<br/>SpringSecurity
   		</p>
       </div>
              
    </div>
                  
	</div>
	</div>
	</div>
	</div>
	
	<div class="widget widget-nopad">
            <div class="widget-header"> 
              <i class="icon-cogs"></i>
              <h3> Settings</h3>
            </div>
             <div class="widget-content">
                 
                 <h6 class="bigstats">
          
    <table style="border-collapse:separate;border-spacing:0 10px;text-transform:none">
     <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4><a class="ff4j-tooltip" th:attr="tooltip=#{home.general.uptime.comment}" >
        <span th:text="#{home.general.uptime}">Uptime</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2><i class="icon-time" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${uptime}">n/a</span></td>
     </tr>
 	  
       <tr>
      <td style="width:100px;text-align:right;margin-right:15px">
       <h4>
        <a class="ff4j-tooltip" th:attr="tooltip=#{home.general.version.comment}" >
        <span th:text="#{home.general.version}">Version</span>&nbsp;
       </a></h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-info-sign" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info"><span th:text="${homebean.version}">n/a</span></td>
     </tr>
     
    </table>
    
	</h6>
	
                  
                  
                </div>
                <!-- /widget-content --> 

          </div>
	
	</div> <!-- span6 -->
	
	<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-wrench"></i>
              <h3>Administration</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts">
              
              	<a data-toggle="modal" href="#modalImport" class="shortcut open-ImportDialog">
              	 <i class="shortcut-icon icon-upload-alt"></i>  
           		 <span class="shortcut-label">Import XML</span>
              	</a>
              	<a href="" th:href="@{api/export}" class="shortcut">
              	 <i class="shortcut-icon icon-download-alt"></i>  
           		 <span class="shortcut-label">Export XML</span>
              	</a>
              	<a href="" class="shortcut" >
              	  <i class="shortcut-icon icon-file"></i>
              	  <span class="shortcut-label">AuditTrail</span>
              	</a>
              	<a href="javascript:;" class="shortcut">
              	 <i class="shortcut-icon icon-user"></i>
              	 <span class="shortcut-label">Users</span>
              	</a>
              	
              	<a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon icon-cog"></i>
                 <span class="shortcut-label">Settings</span>
                </a>
                <a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon icon-magic"></i>
                 <span class="shortcut-label">ClearCache</span>
                </a>
                <a href="javascript:;" class="shortcut">
                 <i class="shortcut-icon  icon-warning-sign"></i>
                 <span class="shortcut-label">Archiving</span>
                </a>
                <a href="" th:href="@{infos}" class="shortcut">
              	 <i class="shortcut-icon icon-info"></i>
              	 <span class="shortcut-label">About</span> 
              	</a>
                        
                                                    
              </div>
              <!-- /shortcuts --> 
            </div>
            <!-- /widget-content --> 
          </div>
          
          </div>
          
          
	
	
	
	
	</div>
	</div>
	</div>
	
	
   </div>
  </div>
 </div>
</div>
   
<div th:include="modal-features :: modal-import"></div>
   

</body>
</html>