<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>

<link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/daterangepicker.css}" />

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      
<script type="text/javascript" src="" th:src="@{static/js/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" src="" th:src="@{static/js/daterangepicker/daterangepicker.js}"></script>

<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

<div class="subnavbar" th:include="navbar :: subnavbarsupervision"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" style="margin-top:60px">
     <div class="container">
 
<div class="row">
                   <div class="span12">     
                        <!-- /widget -->
                        <div class="widget">
                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3>
                                    Audit</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                             
                             
            <input type="text" id="config-demo" class="form-control" />
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            
                     
<script type="text/javascript">
    	  
	$('#config-demo').daterangepicker({
	    "timePicker": true,
	    "timePicker24Hour": true,
	    "timePickerIncrement": 5,
	    "startDate": "07/09/2016",
	    "endDate": "07/15/2016"
	}, function(start, end, label) {
	   console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') ");
	});
	
</script>
                             
                             
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   
</body>
</html>